nav{
   display:flex;
   flex-direction:column;
   align-items: center;
   gap:6vw;
}
.a{
    position: relative;
    background-color: black;
    color: red;
    width:67vw;
    height: 9vw;
}
@media (min~width: 600px){
    nav{
        display : flex;
        flex-direction :row;
        justify-content : space-between;
    }
}
header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
    
}
main{
    display : grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    justify-items:center;
    gap:10%;
}
.b{
    position : relative ;
    color: white;
    background: linear-gradient(45deg,pink,aliceblue);
    width:40vw;
    height:15vw;
    border-radius:19px;
    font-size:5vw;
}
@media (min-width: 687px){
    main{
        display :grid;
        grid-template-columns : repeat(3,1fr)
    }
}